[init]
	defaultBranch = main
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[rebase]
	autoStash = true
[commit]
	gpgsign = false
[push]
	autoSetupRemote = true
[safe]
	directory = *
